@page
@using myshop.Utilities
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<section class="py-5">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row">
			<div class="col-md-5">
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<h2>Create a new account.</h2>
					<hr />
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="Input.FullName" class="form-control" autocomplete="fullName" aria-required="true" placeholder="Enter Your Name Here.." />
						<label asp-for="Input.FullName">FullName</label>
						<span asp-validation-for="Input.FullName" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" placeholder="Shubra, Cairo, Egypt" />
						<label asp-for="Input.Address">Address</label>
						<span asp-validation-for="Input.Address" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="true" placeholder="Cairo" />
						<label asp-for="Input.City">City</label>
						<span asp-validation-for="Input.City" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<label asp-for="Input.Email">Email</label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.Password">Password</label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.ConfirmPassword">Confirm Password</label>
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>

					@if (User.IsInRole(SD.AdminRole))
					{
						<input type="radio" value="@SD.AdminRole" name="RadioRole" /> @SD.AdminRole
						<input type="radio" value="@SD.EditorRole" name="RadioRole" /> @SD.EditorRole
						<input type="radio" value="@SD.CustomerRole" name="RadioRole" /> @SD.CustomerRole

						<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Creat New User</button>
					}
					else
					{
						<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
					}
				</form>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
